name: GameCI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    permissions:
      contents: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Adds VPM registry
        if: always()
        uses: anatawa12/sh-actions/resolve-vpm-packages@1d155c7a26bcd0a54ffd9cb38fd66ab0d32d23cd
        with:
          repos: |
            https://vpm.nadena.dev/vpm.json
      - name: Install VRChat Avatar SDK and NDMF via vrc-get
        run: |
          vrc-get install -y com.vrchat.avatars
          vrc-get install -y nadena.dev.ndmf
      - name: Retrieve cache
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**', 'Tests/**') }}
          restore-keys: |
            Library-
      - name: Run all tests
        uses: game-ci/unity-test-runner@0ff419b913a3630032cbe0de48a0099b5a9f0ed9 # v4.3.1
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          testMode: EditMode
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          unityVersion: 2022.3.22f1
          packageMode: true
      - name: Uploads test run result
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        if: always()
        with:
          name: Test results
          path: artifacts
