name: GameCI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    paths: [".github/**"]
  pull_request_target:
    branches: [main]
    paths-ignore: [".github/**"]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    permissions:
      contents: read
      checks: write
    env:
      UNITY_VERSION: 2022.3.22f1
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Moves packages
        run: |
          mkdir -p Packages/com.github.hkrn.ndmf-vrm-exporter
          mv Tests~ Tests
          mv Editor* Packages/com.github.hkrn.ndmf-vrm-exporter
          mv Tests* Packages/com.github.hkrn.ndmf-vrm-exporter
          mv package.json* Packages/com.github.hkrn.ndmf-vrm-exporter
      - name: Adds VPM registry
        uses: anatawa12/sh-actions/resolve-vpm-packages@1d155c7a26bcd0a54ffd9cb38fd66ab0d32d23cd
        with:
          repos: |
            https://vpm.nadena.dev/vpm.json
      - name: Retrieve cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: Library
          key: Library-unity-${{ env.UNITY_VERSION }}
          restore-keys: |
            Library-unity-${{ env.UNITY_VERSION }}
      - name: Run all tests
        uses: game-ci/unity-test-runner@0ff419b913a3630032cbe0de48a0099b5a9f0ed9 # v4.3.1
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          testMode: EditMode
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          unityVersion: ${{ env.UNITY_VERSION }}
      - name: Uploads test run result
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: Test results
          path: artifacts
